@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body {
    /* padding:  0; */
}
nav.sticky{
    background-color: #212428;
    padding: 0px;
}
.header-left{
    display: flex;
    justify-content: flex-start;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.header-center{
    justify-content: flex-end;
    display: flex;
    align-items: center;
    flex: 0 0 67.333333%;
    max-width: 67.333333%;
}
.header-right{
    margin-left: 30px;
    justify-content: flex-end;
    display: flex;
    margin-right: -18px;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.navbar{
    padding:  0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 122px;
}

/* menu section  */
.menu{
    display: flex;
    align-items: center;
    
}

.menu li{
    list-style: none;
    padding: 23px 20px;
}

.menu li a{
    text-decoration:none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.menu li a:hover{
    color: darkred;
}
.menu-buy{
    background: linear-gradient(145deg, #1e2024, #23272b);
    border-radius: 6px;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    font-weight: 500;
    border: 0 none;
    z-index: 2;
    position: relative;
    transition: 0.4s;
    cursor: pointer;
    color: crimson;
    padding: 1rem;

}
.menu-buy:hover{
    transform: translateY(-5px);
}
.background{
    background: #212428 url('../img/1.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.container{
    max-width: 1310px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* home section  */
.home-content{
    margin-top: 0;
    background-color: #212428;
}
.home-content-left{
    width: 50%;
    /* padding-left: 50px; */
}
.home-content-left-intro{
    margin-bottom: 142px;
}
.home-content-left-intro span.subtitle{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #c4cfde;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
}
.home-content-left-intro h1{
    color: #ffffff;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    margin-bottom: 22px;
    font-family: 'Montserrat', sans-serif;
}
.home-content-left-intro h2{
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 22px;
    font-family: 'Montserrat', sans-serif;
}
.home-content-left-intro span{
    color: crimson;
}
.description{
    font-size: 16px;
    line-height: 30px;
    color: #c4cfde;
    padding-right: 16%;
    opacity: 0.9;
}
.home-content-left-social{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* features section  */
.features-content{
    margin-top: 0;
    background-color: #212428;
}
.features-title span.subtitle{

    color: #f9004d;
    letter-spacing: 1px;
    display: block;
    line-height: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.features-title h2.title{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    color: #c4cfde;
    margin-top: 15px;
    margin-bottom: 0;
}
.services{
    margin-left: -15px;
    margin-right: -15px;
}
.service{
    text-align: left;
    padding: 35px 50px 35px 50px;
    transition: 0.5s all ease-in-out;
    position: relative;
    border-radius: 10px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    position: relative;
    z-index: 1;
    height: 100%;
}
.icon svg{
    width: 50px;
    height: auto;
    color: #ff014f;
    stroke-width: 1 !important;
}
.service-inner-content p.description{
    font-size: 16px;
    line-height: 28px;
    color: #c4cfde;
    margin-bottom: 22px;
    transition: 0.5s all ease-in-out;
}
.service-inner-content h4.title{
    font-family: #ff014f;;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
    color: #c4cfde;;
}
